<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.lwb.utils_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UtilsKt">
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="com.rousetime.android_startup.provider.StartupProvider"
            android:authorities="${applicationId}.android_startup"
            android:exported="false"
            tools:node="merge"
            >
            <meta-data
                android:name="me.lwb.utils_demo.initializer.LogStartup"
                android:value="android.startup" />
        </provider>
    </application>

</manifest>